@font-face {
    font-family: font1;
    src: url("../assets/font1.ttf");
}
@font-face {
    font-family: font2;
    src: url("../assets/font2.ttf");
}
@font-face {
    font-family: font3;
    src: url("../assets/font3.ttf");
}
@font-face {
    font-family: font4;
    src: url("../assets/font4.ttf");
}